* {
  margin: 0%;
  padding: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.baseContainer {
  float: left;
  width: 100%;
  background-color: #333333;
}

/* ------------------------------------
           CSS FOR HEADER
--------------------------------------- */

.menuBar {
  float: left;
  width: 100%;
  background-color: rgb(7, 116, 123);
  position: sticky;
  top: 0;
  z-index: 1;
}

.menuBarPart1 {
  width: 14%;
  float: left;
  background-color: rgb(7, 116, 123);
  padding: 1% 0 1% 1%;
}
.backendLogo {
  float: left;
  margin-left: 2px;
  height: 30px;
  width: 130px;
  cursor: pointer;
}

.fa-bars {
  height: 25px;
  width: 30px;
  color: #e5feff;
  font-size: 30px;
}

.menuIcon {
  float: left;
  text-align: center;
  padding: 20.5px 0 20.5px 26px;
  display: none;
}

.menuBarPart2 {
  float: left;
  width: 85%;
  background-color: rgb(7, 116, 123);
  position: relative;
  padding: 13.5px 0 13px 0;
}

.menuBarIcons {
  float: right;
  margin-right: 30px;
}

.menuBarIcons > div {
  width: 40px;
  float: left;
  height: 40px;
  border-radius: 50%;
  background-color: #066970;
  margin-left: 13px;
  position: relative;
}

.iconProperties {
  float: left;
  font-size: 15px;
  margin: 11px;
  color: #fff;
}

.icon_badge {
  position: absolute;
  right: -3px;
  top: -6px;
  border-radius: 50%;
  background-color: #fff;
  height: 20px;
  width: 20px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.profilepic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-left: 13px;
}

.fa-caret-down {
  margin-left: 10px;
  float: left;
  margin-top: 11px;
  font-size: 17px;
  color: #fff;
}

/* ------------------------------------
            SIDE PANEL CSS
--------------------------------------- */

.sidePanel {
  float: left;
  background-color: rgb(51, 51, 51);
  width: 18%;
  display: block;
}

.searchBar {
  float: left;
  width: 94%;
  background-color: #0c1115;
  margin: 5% 3% 0;
  height: 40px;
  text-align: center;
}

.inputBar {
  float: left;
  width: 85%;
  height: 100%;
  background-color: #0c1115;
  border: none;
  color: #fff;
  font-size: 15px;
}

.searchButton {
  float: left;
  text-align: center;
  border: none;
  background-color: #0c1115;
  height: 98%;
  width: 15%;
  color: #fff;
  cursor: pointer;
}

.searchButton > span {
  margin: 12px 0px;
  width: 100%;
}

.sidePanelElements {
  float: left;
  background-color: #333333;
  width: 100%;
  color: #909294;
}

.sidePanelElements > div {
  padding: 5px 0;
}

.sidePanelElements_0 {
  float: left;
  width: 100%;
}

.sidePanelElements_1 {
  float: left;
  width: 100%;
}

.sidePanelElements_2 {
  width: 100%;
  float: left;
}

.sidePanelElements_3 {
  float: left;
  background-color: #292929;
  width: 100%;
  padding: 15px 0 15px 0;
}

.sidePanelMenu {
  float: left;
  margin: 3px 0 0 10px;
  font-size: 17px;
}

.sidePanelMenu0 {
  float: left;
  margin-left: 20px;
  width: 70%;
}
.sidePanelMenu1 {
  float: left;
  width: 100%;
}

.sidePanelMenu2 {
  margin: 0 0 0 20px;
}
.sidePanelMenu3 {
  float: left;
  margin: 0 0 0 6%;
  width: 65%;
  text-decoration: none;
  color: #909294;
}

details {
  float: left;
  width: 100%;
}

details summary {
  list-style: none;
  float: left;
  padding: 15px 0 15px 0;
}

details summary span {
  float: left;
}

summary {
  width: 94%;
  margin: 0 0 0 6%;
  border-left: 1px solid #959595;
}

.headerSummary {
  width: 100%;
  margin: 0;
  border-left: none;
}

.headerSummary:hover {
  background-color: rgb(7, 116, 123);
  cursor: pointer;
}

summary:hover {
  background-color: rgb(7, 116, 123);
  cursor: pointer;
  color: #fff;
}

.innerSummary {
  width: 87%;
  margin: 0 0 0 12%;
  border-left: 1px solid #959595;
  padding: 15px 0;
  float: left;
}

.innerSummary:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.innerSummary1 {
  float: left;
  width: 85%;
  padding: 5px 0;
  margin-left: 40px !important;
  border-left: 1px solid #959595;
}

.sidePanelMenu3:hover {
  color: #fff;
}

.specialSummary {
  padding: 0px !important;
}
.fa-plus-large {
  float: right;
  margin-right: 27px;
  color: #8d8d8d;
  font-size: 15px;
}

.fa-plus-large:hover {
  color: #fff;
}

.fa-plus-large_rotateEffect {
  transform: rotate(45deg);
}

.fa-plus-large_rotateEffect1 {
  transform: rotate(-45deg);
}

.dash1 {
  float: right;
  margin-right: 36px;
  font-size: 15px;
  color: #8d8d8d;
  width: 2%;
}

.sidePanelElements_2 {
  padding-bottom: 35px;
}

.color {
  color: #fff;
  font-size: 25px;
  width: 32%;
  text-align: center;
}

.iconsOfSidePanel {
  float: left;
  margin-left: 10px;
  font-size: 25px;
}

.fa-circle-small {
  float: left;
  margin-left: -5px;
  opacity: 0.5;
  color: #909294;
}

.fa-special-smallcircle {
  float: left;
  /* margin-left: 30px !important; */
  opacity: 0.5;
  color: #909294;
}

.fa-special1-smallcircle {
  float: left;
  opacity: 0.5;
  color: #909294;
}
/* ------------------------------------
             DASHBOARD CSS
--------------------------------------- */

.dashboard {
  color: #302f2b;
  font-size: 30px;
  margin-left: 15px;
}

.dashboardIcons {
  float: right;
}

.dashboardIcons > span {
  float: right;
  padding: 5px;
  padding-top: 8px;
  padding-right: 10px;
  font-size: 20px;
  color: #49433a;
}

.dashboardPanel {
  float: left;
  width: 82%;
  background-color: rgb(187 182 182 / 47%);
}

.dashboardPanelTop {
  background-color: hsl(0, 0%, 90%);
  float: left;
  width: 99%;
  padding: 2% 0 2% 1%;
}

.dashboardPanelBottom {
  float: left;
  background-color: #f5f5f5;
  padding: 2% 2% 0 2%;
  width: 96%;
}

.dashboard {
  float: left;
}

.dashboardIcons {
  margin-right: 20px;
}

.boxI {
  float: left;
  width: 100%;
  background-color: #f5f5f5;
}

.box1 {
  float: left;
  width: 63%;
  background-color: #fff;
  border-top: 4px solid rgb(7, 116, 123);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 2px #8080803b;
}

.box1_0 {
  float: left;
  width: 100%;
}

.box1_1 {
  float: left;
  width: 100%;
}

.box1_2 {
  float: left;
  width: 93%;
  padding: 0 32px 18px;
}

.box1_2_0 {
  float: left;
  width: 46%;
}

.box1_2_0_1 {
  background-color: #5bb85d;
  float: left;
  width: 39%;
  padding: 45px 0 45px 0;
  font-size: 34px;
  color: #fff;
  text-align: center;
}

.box1_2_0_2 {
  width: 41%;
  float: left;
  background-color: #eae4e4;
  padding: 16.5px 15px 16.5px 60px;
}

.circularProgressBar {
  float: left;
  position: relative;
  background-color: #eae4e4;
}
.circle1 {
  float: left;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #5bb85d;
}

.circlequadrant {
  float: left;
  width: 65px;
  height: 65px;
  background: #dddcda;
  border-top-left-radius: 101%;
  border-top-right-radius: 0;
}

.circle2 {
  float: left;
  position: absolute;
  top: 0px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #eae4e4;
  margin: 10px;
}

.visitorsCount {
  float: left;
  font-size: 33px;
  color: #83817c;
  text-align: center;
  margin: 32px 0 0 21px;
}

.box1_2_1 {
  float: right;
  width: 46%;
  padding: 23.5px 0;
  background-color: #eae4e4;
}

.box1_2_1 > div {
  font-size: 20px;
  text-align: center;
}

.progressBar0 {
  width: 90%;
  height: 35px;
  margin-left: 5%;
}
.fa-eye {
  color: #fff;
  text-align: center;
}

.box2 {
  float: left;
  margin-left: 4%;
  background-color: #fff;
  width: 33%;
}

.box2 > div {
  float: left;
  margin-top: 30px;
  padding: 9px 0 25px 0;
  width: 100%;
  padding-bottom: 25px;
}

.box2_1 {
  float: left;
  width: 100%;
  margin-top: 0px;
  background-color: rgb(7, 116, 123);
}

.box2_1 > div {
  float: left;
  width: 33.33%;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.padding1forbox2 {
  padding-top: 45px;
}

.padding2forbox2 {
  padding: 30px 0 30px 0;
}

.padding3forbox2 {
  padding-bottom: 10px;
  font-weight: bold;
}

.box2_2 {
  float: left;
  width: 100%;
  background-color: rgb(91, 184, 93, 255);
}

.box2_2 > div {
  float: left;
  width: 33.33%;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.box2_3 {
  background-color: rgb(239, 173, 77, 255);
  float: left;
  width: 100%;
}

.box2_3 > div {
  float: left;
  width: 33.33%;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.box2_4 {
  float: left;
  width: 100%;
  background-color: rgba(218, 83, 79, 255);
}

.box2_4 > div {
  float: left;
  width: 33.33%;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.iconsofbox2 {
  color: #fff;
  font-size: 80px;
}

.boxII {
  float: left;
  margin-top: 30px;
  width: 100%;
  background-color: #f5f5f5;
}

.box3 {
  float: left;
  background-color: rosybrown;
  width: 30%;
  border-top: 4px solid rgb(7, 116, 123);
  border-radius: 6px;
  box-shadow: 1px 1px 0px 2px #8080803b;
}

.box3_1 {
  float: left;
  width: 100%;
  background-color: #fff;
}

.box3_2 {
  float: left;
  width: 100%;
  padding: 50px 0 35px 0;
  background-color: #fff;
}

.box3_2_1 {
  float: left;
  width: 48%;
  margin: 0 27%;
}

.clock {
  float: left;
  height: 200px;
  width: 200px;
  border: 2px solid green;
  border-radius: 50%;
  position: relative;
  background-image: url(../images/clock.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hourHand,
.minuteHand,
.secondsHand {
  position: absolute;

  background-color: rgb(7, 116, 123);
  top: 50%;
  left: 50%;
  transform-origin: left;
  transform: rotate(-90deg);
}

.hourHand {
  height: 5px;
  width: 30%;
}

.minuteHand {
  height: 5px;
  width: 38%;
}

.secondsHand {
  height: 2px;
  width: 40%;
  background-color: red;
}

.box3_3 {
  width: 100%;
  float: left;
  padding: 15px 0 15px 0;
  color: #fff;
  border-radius: 0px 0px 6px 6px;
  background-color: rgb(7, 116, 123);
}

.box3_3_0 > div {
  width: 25%;
  float: left;
  text-align: center;
}

.box3_3Elements {
  font-size: 30px;
  color: #fff;
  padding-bottom: 10px;
}

.box3_3_0 {
  width: 92%;
  float: left;
  text-align: center;
  margin: 0 4%;
}
.box4 {
  float: left;
  margin-left: 3%;
  width: 24%;
  background-color: #fff;
  box-shadow: 1px 1px 1px 2px #8080803b;
}

.box4_0 {
  float: left;
  width: 100%;
}

.flower {
  height: 250px;
  float: left;
  width: 100%;
}

.box4_1 {
  float: left;
  width: 92%;
  background-color: #fff;
  color: #585858;
  font-size: 26px;
  margin: 15px 15px 0;
}

.box4_2 {
  float: left;
  width: 96%;
  margin: 15px 0 15px 15px;
}

.box4_2 > span {
  float: left;
}

.spanofbox4_2 {
  font-size: 15px;
  padding: 10px 0;
  color: #585858;
  font-weight: 500;
}

.viewButton {
  float: right !important;
  background-color: rgb(7, 116, 123);
  width: 85px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  margin-right: -3px;
  border: none;
}

.box5 {
  float: left;
  margin-left: 3%;
  background-color: #fff;
  width: 40%;
  border-top: 4px solid rgb(7, 116, 123);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 2px #8080803b;
}

.box5 > div {
  float: left;
}

.line {
  content: " ";
  width: 80%;
  margin-left: 10%;
  margin-left: 11%;
  display: block;
  border-bottom: 0.5px solid #9e9e9e;
}

.quotes {
  font-size: 20px;
  text-align: center;
  color: #edb75c;
  padding: 8px 0 0;
}

.quotes1 {
  font-size: 20px;
  text-align: center;
  color: rgb(7, 116, 123);
  margin-top: 10px;
}

.quotes2 {
  font-size: 15px;
  text-align: center;
  padding-bottom: 8px;
  color: #585858;
}

.square {
  float: left;
  width: 91%;
  margin: 0 4.5%;
  background-color: #fdf8e4;
  padding: 76px 0 10px 0;
  position: relative;
}

.box5_0 {
  background-color: #fff;
  float: left;
  width: 100%;
  border-radius: 2px 2px 0 0;
}

.box5_1 {
  float: left;
  width: 100%;
}

.box5_1_0 {
  background-color: #fff;
  float: left;
  width: 100%;
  margin: 100px 0 20px 0;
}

.box5_1_0_0 > span {
  color: #8eb3a7;
  float: left;
  font-size: 120px;
  margin-left: 2px;
}

.box5_1_0_0 {
  width: 80%;
  float: left;
  position: absolute;
  bottom: 72px;
  margin: 0 10%;
}

.closeapostrophe {
  margin-top: 30px;
}

.box5_2 {
  float: left;
  background-color: rgba(253, 248, 228, 255);
}

.box5_1_0image {
  float: left;
  bottom: 164px;
  width: 40%;
  margin: -15px 28%;
  position: absolute;
  border: 10px solid #b3d2c7;
}

.boxIII {
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  margin-top: 30px;
}
.box6 {
  float: left;
  width: 50%;
  border-top: 4px solid rgb(7, 116, 123);
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 2px #8080803b;
}

.box6_0 {
  float: left;
  width: 100%;
}
.box6_1 {
  float: left;
  width: 100%;
}

.box7 {
  float: left;
  background-image: url(../images/rain.jpg);
  height: 560px;
  margin-left: 4%;
  width: 46%;
  background-color: maroon;
  position: relative;
  padding-bottom: 20px;
}

.box7_0 {
  float: left;
  width: 100%;
}

.london {
  float: left;
  width: 47%;
  color: #fff;
  font-size: 55px;
  padding: 10px 0 10px 15px;
}

.box7_0_1 {
  font-size: 35px;
  float: left;
  width: 50%;
  color: #fff;
}

.dayTime {
  float: right;
  margin: 10px;
}

.dayTime > div {
  font-size: 38px;
  padding: 0 0 10px 0;
}
.box7_1 {
  float: left;
  width: 100%;
  position: relative;
}

.box7_1 > span {
  float: left;
  width: 10%;
  margin: 0 45%;
  text-align: center;
  color: #fff;
  font-size: 100px;
}

.fa-sun-bright1 {
  top: -50px;
  left: 51px;
  float: left;
  position: absolute;
}

.box7_2 {
  float: left;
  width: 97%;
  padding: 0 10px 10px;
}

.box7_2 > span {
  float: left;
  color: #fff;
  font-size: 35px;
}

.box7_3 {
  float: left;
  width: 100%;
  font-size: 70px;
  color: #fff;
}

.box7_3_0 {
  float: left;
  width: 68%;
  margin: 0 16% 0 16%;
}

.degrees {
  float: left;
  color: #fff;
}

.fa-zero {
  float: left;
  color: #fff;
  font-size: 23px;
}

.fa-cloud-sun {
  float: right;
}

.box7_4 {
  float: left;
  width: 100%;
}

.box7_4_0 {
  float: left;
  width: 71%;
  margin: 0 15.5% 0 13.5%;
}

.box7_5 {
  float: left;
  width: 100%;
  margin: 20px 0;
}

.box7_5_1 {
  float: left;
  width: 88%;
  margin: 0 6%;
  text-align: center;
}

.box7_5_1 > div {
  font-size: 30px;
  width: 16.3%;
  color: #fff;
  border-left: 2px solid #fff;
}

.fa-bolt {
  float: left;
  font-size: 46px;
}

.days {
  float: left;
}

.days > div {
  float: left;
  width: 100%;
  padding: 5px 0;
}

.days1 {
  float: left;
  color: #fff;
  font-size: 24px;
}

.cloud {
  font-size: 45px;
}

.degree {
  font-size: 5px;
  color: #fff;
}

.boxIV {
  background-color: blueviolet;
  width: 100%;
  margin-top: 30px;
  float: left;
}
.box8 {
  float: left;
  width: 100%;
  height: 210px;
  background-color: #fff;
}

.box8 > div {
  float: left;
  height: 50%;
  width: 33.33%;
}

.box8_0 {
  float: left;
  background-color: #55acef;
}

.box8_x {
  float: left;
  width: 50%;
}

.box8_x > div {
  float: left;
  width: 100%;
}

.box8_y {
  float: left;
  width: 50%;
}

.iconsofbox8 {
  font-size: 70px;
  float: right;
  margin: 17px;
  color: #fff;
}

.numbersofbox8 {
  font-size: 50px;
  float: left;
  margin-left: 30px;
  margin-top: 4px;
  color: #fff;
}

.wordsofbox8 {
  font-size: 30px;
  color: #fff;
  margin-left: 30px;
}

.boxV {
  float: left;
  width: 100%;
  margin-top: 30px;
  background-color: #f5f5f5;
}
.box9 {
  float: left;
  width: 45%;
  background-color: #fff;
  border-top: 4px solid rgb(7, 116, 123);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 2px #8080803b;
}

.box9_0 {
  float: left;
  width: 100%;
  border-radius: 2px 2px 0 0;
  background-color: antique#fff;
  background-color: #fff;
}

.box9_1 {
  float: left;
  background-image: url(../images/laptop.jpg);
  width: 91%;
  margin: 0 4.5%;
  height: 390px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

.box9_1_1 {
  float: left;
  width: 30%;
  margin: 8% 35% 0 35%;
}

.box9_1_1 > div {
  float: left;
  width: 100%;
  text-align: center;
  padding: 6px 0 10px 0;
}

.krayon {
  float: left;
  height: 125px;
  width: 73%;
  border: 4px solid rgb(7, 116, 123);
  margin: 0 10.5%;
}

.changeProfile {
  height: 34px;
  background-color: rgb(7, 116, 123);
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-family: system-ui;
  width: 100%;
}

.designer {
  color: #fff;
  float: left;
  font-size: 20px;
  margin: 0 25%;
  width: 50%;
}
.box9_2 {
  float: left;
  width: 91%;
  margin: 0 4.5%;
  background-color: #fff;
  padding-bottom: 20px;
}

.box9_2 > div {
  width: 25%;
  float: left;
  padding: 15px 0 15px;
}

.box9_2_0 {
  float: left;
  width: 20%;
  margin: 6% 40% 4% 40%;
}

.spanofbox9 {
  color: #fff;
  font-size: 21px;
  float: left;
  padding-bottom: 5px;
}

.brand {
  margin-left: 7px;
}

.box10 {
  margin-left: 5%;
  float: left;
  width: 50%;
  background-color: #fff;
  border-top: 4px solid rgb(7, 116, 123);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 2px #8080803b;
}

.box10_0 {
  float: left;
  background-color: rgb(255, 254, 254);
  width: 100%;
  border-radius: 9px 9px 0 0;
}

.box10_1 {
  float: left;
  width: 91%;
  margin: 0 4.5%;
  background-color: #fff;
  padding: 10px 0 10px 0;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #6b6666;
}

th {
  background-color: rgb(7, 116, 123);
  color: #fff;
}
th,
tr {
  text-align: left;
  border-bottom: 1px solid rgb(212, 207, 207);
}
th {
  padding: 7px;
}

td {
  padding: 12px;
}

.online {
  background-color: #66bc63;
  color: #fff;
  border-radius: 3px;
  padding: 1px;
}

.offline {
  background-color: #c74e4d;
  color: #fff;
  border-radius: 3px;
  padding: 2px;
}

.boxVI {
  float: left;
  width: 100%;
  margin-top: 30px;
}

.box11 {
  float: left;
  width: 25%;
  background-color: #fff;
  border-top: 4px solid rgb(7, 116, 123);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 2px #8080803b;
}
.box11_0 {
  float: left;
  width: 100%;
  border-radius: 9px 9px 0 0;
  background-color: #fff;
}

.box11_1 {
  float: left;
  width: 80%;
  margin: 0 10%;
  background-color: #057684;
  color: #fff;
}

.spanfor11_1 {
  width: 32.9%;
  text-align: center;
  float: left;
  font-size: 20px;
  border-right: 0.5px solid #fff;
  padding: 8px 0;
}

.box11_2 {
  float: left;
}

#donut_single {
  width: 301px;
  height: 310px;
  margin: 10%;
}

.box12 {
  float: left;
  margin-left: 5.5%;
  width: 41.67%;
  background-color: #fff;
  border-top: 4px solid rgb(7, 116, 123);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 2px #8080803b;
}

.box12_0 {
  float: left;
  width: 100%;
  border-radius: 9px 9px 0 0;
  background-color: lightsteelblue;
  background-color: #fff;
}

.box12_1 {
  float: left;
  width: 89%;
  background-color: #fae3c4;
  margin: 5% 5% 0;
  border-right: 9px solid #f2b7ba;
  position: relative;
}
.box13 {
  float: left;
  width: 22.33%;
  margin: 0 0 0 5.5%;
  background-color: #fff;
  border-top: 4px solid rgb(7, 116, 123);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 2px #8080803b;
}
.box13_0 {
  float: left;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.box13_1 {
  float: left;
  width: 100%;
  background-color: #fff;
  padding-bottom: 20px;
}

.box13_1 > div {
  float: left;
  width: 80%;
  margin-left: 10%;
}

.progressBar {
  float: left;
  height: 40px;
  width: 100%;
}

#progressBar1 {
  accent-color: #5fc6dc;
}

#progressBar2 {
  accent-color: #de595b;
}

#progressBar3 {
  accent-color: #64b563;
}

#progressBar4 {
  accent-color: #5fc6dc;
}

#progressBar5 {
  accent-color: #f4ac4b;
}
#progressBar6 {
  accent-color: #de595b;
}
#progressBar7 {
  accent-color: #64b563;
}
#progressBar8 {
  accent-color: #5fc6dc;
}

.labelsofbox13_1 {
  float: left;
  font-size: 20px;
  width: 100%;
}
.spanforheaders {
  float: left;
  font-size: 30px;
  margin: 25px 0 19px 32px;
  color: #302f2b;
}

.Max {
  border: 2px solid #e7ae54;
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.box12_1_0 {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.box12_1_0_0 {
  font-size: 20px;
  color: #85725c;
  margin: 10px 0 0 0;
}

.lineheight {
  line-height: 40px;
}

.ellipsis {
  float: left;
  font-size: 70px;
  margin-left: 45%;
}

.spanforminimizeandclose {
  float: right;
  margin-right: 25px;
  margin-top: 28px;
  color: #302f2b;
}

.footer {
  float: left;
  text-align: center;
  padding: 2px 0 2px 0;
  width: 102%;
  margin-top: 20px;
  color: #868686;
}

.footer > p {
  background-color: #e9e9e9;
  padding: 10px;
}

/*-------------------------------------------------------------
                      MEDIA QUERY FOR 1200px
---------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .sidePanel {
    width: 30%;
  }

  .dashboardPanel {
    width: 70%;
  }

  .boxI {
    width: 100%;
  }

  .box1 {
    width: 100%;
  }

  .box1_2 {
    width: 95%;
    padding: 20px;
  }

  .box1_2_0 {
    width: 48%;
  }

  .box1_2_0_1 {
    width: 41%;
  }

  .box1_2_1 {
    width: 49%;
    margin: 0 0 0 20px;
  }

  .box1_2_0_2 {
    width: 59%;
    padding: 0;
  }

  .circularProgressBar {
    margin: 20px 0 19px 45px;
  }

  .box2 {
    width: 90%;
    margin: 20px 5%;
  }

  .boxII {
    width: 100%;
  }

  .box3 {
    width: 50%;
  }

  .box4 {
    width: 45%;
  }

  .flower {
    height: 300px;
  }

  .box5 {
    width: 80%;
    margin: 20px 10%;
  }

  .boxIII {
    width: 100%;
  }

  .box6 {
    width: 100%;
    margin: 0;
  }

  .box7 {
    width: 90%;
    margin: 20px 5%;
  }

  .box7_1 > span {
    width: 20%;
    margin: 25px 36% 0;
    font-size: 75px;
  }

  .box7_2 {
    width: 97%;
    padding: 6px 7px 10px;
  }

  .london {
    width: 46%;
  }

  .box7_5_1 {
    width: 100%;
    margin: 0;
  }

  .boxIV {
    width: 100%;
  }

  .box8 {
    width: 100%;
    height: auto;
  }

  .wordsofbox8 {
    font-size: 25px;
    color: #fff;
    margin-left: 14px;
  }

  .numbersofbox8 {
    font-size: 42px;
    margin-left: 14px;
    margin-top: 6px;
    color: #fff;
  }

  .boxV {
    width: 100%;
  }

  .box9 {
    width: 80%;
    margin: 0 10%;
  }

  .box9_1_1 {
    float: left;
    width: 45%;
    margin: 1% 27.5% 0 27.5%;
  }

  .krayon {
    height: 160px;
  }

  .box10 {
    width: 80%;
    margin: 20px 10%;
  }

  .boxVI {
    width: 100%;
  }

  .box11 {
    width: 90%;
    margin: 10px 5%;
  }

  #donut_single {
    margin: 10% 0 10% 56%;
  }

  .box12 {
    width: 90%;
    margin: 10px 5%;
  }

  .box13 {
    width: 80%;
    margin: 10px 10%;
  }

  .footer {
    width: 100%;
  }
}

/*-------------------------------------------------------------
                      MEDIA QUERY FOR LAPTOP
---------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  .basecontainer {
    width: 100%;
  }

  .menuBar {
    width: 100%;
  }

  .menuBarPart1 {
    width: 25%;
    padding: 10px 0;
  }

  .backendLogo {
    margin: 0 38% 0 10%;
  }

  .menuBarPart2 {
    width: 66%;
  }

  .menuIcon {
    display: block;
    width: 5%;
    padding: 15px 0 0 26px;
  }

  .sidePanel {
    width: 100%;
    display: none;
  }

  .sidePanelElements {
    width: 100%;
  }

  .dashboardPanel {
    width: 100%;
  }

  .dashboardPanelTop {
    width: 99.1%;
  }

  .dashboardIcons > span {
    font-size: 15px;
  }

  .dashboardPanelBottom {
    width: 96%;
    padding: 20px;
  }

  .boxI {
    width: 100%;
  }

  .box1 {
    width: 100%;
  }

  .box1_2 {
    width: 95%;
    padding: 20px;
  }

  .box1_2_0 {
    width: 48%;
  }

  .box1_2_0_1 {
    width: 41%;
  }

  .box1_2_1 {
    width: 49%;
    margin: 0 0 0 20px;
  }

  .box1_2_0_2 {
    width: 59%;
    padding: 0;
  }

  .circularProgressBar {
    margin: 20px 0 19px 45px;
  }

  .box2 {
    width: 90%;
    margin: 20px 5%;
  }

  .boxII {
    width: 100%;
  }

  .box3 {
    width: 50%;
  }

  .box4 {
    width: 45%;
  }

  .flower {
    height: 300px;
  }

  .box5 {
    width: 80%;
    margin: 20px 10%;
  }

  .boxIII {
    width: 100%;
  }

  .box6 {
    width: 100%;
    margin: 0;
  }

  .box7 {
    width: 90%;
    margin: 20px 5%;
  }

  .box7_1 > span {
    width: 20%;
    margin: 25px 36% 0;
    font-size: 75px;
  }

  .box7_2 {
    width: 97%;
    padding: 6px 7px 10px;
  }

  .london {
    width: 46%;
  }

  .box7_5_1 {
    width: 100%;
    margin: 0;
  }

  .boxIV {
    width: 100%;
  }

  .box8 {
    width: 100%;
    height: auto;
  }

  .wordsofbox8 {
    font-size: 25px;
    color: #fff;
    margin-left: 14px;
  }

  .numbersofbox8 {
    font-size: 42px;
    margin-left: 14px;
    margin-top: 6px;
    color: #fff;
  }

  .boxV {
    width: 100%;
  }

  .box9 {
    width: 48%;
    margin: 0;
  }

  .box9_1_1 {
    float: left;
    width: 45%;
    margin: 1% 27.5% 0 27.5%;
  }

  .box10 {
    width: 48%;
    margin: 0 0 0 4%;
  }

  .boxVI {
    width: 100%;
  }

  .box11 {
    width: 33%;
    margin: 0;
  }

  #donut_single {
    margin: 10% 3% 10% 3%;
  }

  .box12 {
    width: 40%;
    margin: 0 0 0 2%;
  }

  .box13 {
    width: 21%;
    margin: 0 0 0 4%;
  }

  .footer {
    width: 100%;
  }
}

/*-------------------------------------------------------------
                      MEDIA QUERY FOR Small LAPTOP
---------------------------------------------------------------*/

@media screen and (max-width: 992px) {
  .basecontainer {
    width: 100%;
  }

  .menuBar {
    width: 100%;
  }

  .menuBarPart1 {
    width: 25%;
    padding: 10px 0;
  }

  .backendLogo {
    margin: 0 38% 0 10%;
  }

  .menuBarPart2 {
    width: 66%;
  }

  .menuIcon {
    display: block;
    width: 5%;
    padding: 15px 0 0 26px;
  }

  .sidePanel {
    width: 100%;
    display: none;
  }

  .sidePanelElements {
    width: 100%;
  }

  .dashboardPanel {
    width: 100%;
  }

  .dashboardPanelTop {
    width: 99.1%;
  }

  .dashboardIcons > span {
    font-size: 15px;
  }

  .dashboardPanelBottom {
    width: 96%;
    padding: 20px;
  }

  .boxI {
    width: 100%;
  }

  .box1 {
    width: 100%;
  }

  .box1_2 {
    width: 95%;
    padding: 20px;
  }

  .box1_2_0 {
    width: 48%;
  }

  .box1_2_0_1 {
    width: 41%;
  }

  .box1_2_1 {
    width: 49%;
    margin: 0 0 0 20px;
  }

  .box1_2_0_2 {
    width: 59%;
    padding: 0;
  }

  .circularProgressBar {
    margin: 20px 0 19px 45px;
  }

  .box2 {
    width: 90%;
    margin: 20px 5%;
  }

  .boxII {
    width: 100%;
  }

  .box5_1_0_0 {
    width: 68%;
    float: left;
    position: absolute;
    bottom: 72px;
    margin: 0px 16%;
  }

  .box5_1_0image {
    float: left;
    bottom: 164px;
    width: 35%;
    margin: -15px 30%;
    position: absolute;
    border: 10px solid #b3d2c7;
  }

  .boxIII {
    width: 100%;
  }

  .box6 {
    width: 100%;
    margin: 0;
  }

  .box7 {
    width: 90%;
    margin: 20px 5%;
  }

  .box7_1 > span {
    width: 20%;
    margin: 25px 36% 0;
    font-size: 75px;
  }

  .box7_2 {
    width: 97%;
    padding: 6px 7px 10px;
  }

  .london {
    width: 46%;
  }

  .box7_5_1 {
    width: 100%;
    margin: 0;
  }

  .boxIV {
    width: 100%;
  }

  .box8 {
    width: 100%;
    height: auto;
  }

  .wordsofbox8 {
    font-size: 25px;
    color: #fff;
    margin-left: 14px;
  }

  .numbersofbox8 {
    font-size: 42px;
    margin-left: 14px;
    margin-top: 6px;
    color: #fff;
  }

  .boxV {
    width: 100%;
  }

  .box9 {
    width: 48%;
    margin: 0;
  }

  .box9_1_1 {
    float: left;
    width: 45%;
    margin: 1% 27.5% 0 27.5%;
  }

  .box10 {
    width: 48%;
    margin: 0 0 0 4%;
  }

  .boxVI {
    width: 100%;
  }

  .box11 {
    width: 33%;
  }

  #donut_single {
    margin: 10% 3% 10% 3%;
  }

  .box12 {
    width: 40%;
    margin: 0 0 0 2%;
  }

  .box13 {
    width: 21%;
    margin: 0 0 0 4%;
  }

  .footer {
    width: 100%;
  }
}

/*-------------------------------------------------------------
                      MEDIA QUERY FOR TABLET
---------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .basecontainer {
    width: 100%;
  }

  .menuBar {
    width: 100%;
  }

  .menuBarPart1 {
    width: 100%;
    padding: 10px 0;
  }

  .backendLogo {
    margin: 0 38% 0 3%;
  }

  .menuBarPart2 {
    width: 90%;
    padding: 10px 0;
  }

  .menuIcon {
    display: block;
    width: 5%;
  }

  .sidePanel {
    width: 100%;
    display: none;
  }

  .sidePanelElements {
    width: 100%;
  }

  .dashboardPanel {
    width: 100%;
  }

  .dashboardPanelTop {
    width: 99.1%;
  }

  .dashboardIcons > span {
    font-size: 15px;
  }

  .dashboardPanelBottom {
    width: 95%;
    padding: 20px;
  }

  .boxI {
    width: 100%;
  }

  .box1 {
    width: 100%;
  }

  .box1_2 {
    width: 93%;
    padding: 20px;
  }

  .box1_2_0 {
    width: 100%;
  }

  .box1_2_0_1 {
    width: 41%;
  }

  .box1_2_1 {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .box1_2_0_2 {
    width: 59%;
    padding: 0;
  }

  .circularProgressBar {
    margin: 20px 0 19px 85px;
  }

  .box2 {
    width: 90%;
    margin: 20px 5%;
  }

  .boxII {
    width: 100%;
  }

  .box3 {
    width: 100%;
  }

  .box3_2_1 {
    float: left;
    width: 28%;
    margin: 0 36% 0 36%;
  }

  .box4 {
    width: 76%;
    margin: 20px 12%;
  }

  .flower {
    height: 400px;
  }

  .box5 {
    width: 100%;
    margin: 0px;
  }

  .box5_1_0image {
    bottom: 151px;
    width: 35%;
    margin: 0px 205px;
  }

  .box5_1_0_0 {
    width: 69%;
    float: left;
    position: absolute;
    bottom: 72px;
    margin-left: 16%;
  }

  .box5_1_0_0 > span {
    font-size: 120px;
    margin-left: 2px;
  }

  .boxIII {
    width: 100%;
  }

  .box6 {
    width: 100%;
    margin: 0;
  }

  .box7 {
    width: 100%;
    margin: 20px 0;
  }

  .box7_1 > span {
    float: left;
    width: 10%;
    margin: 0 45%;
    text-align: center;
    color: #fff;
    font-size: 100px;
  }

  .box7_2 {
    width: 97%;
    padding: 0 10px 10px;
  }

  .boxIV {
    width: 100%;
  }

  .box8 {
    width: 100%;
    height: auto;
  }

  .box8 > div {
    width: 50%;
  }

  .wordsofbox8 {
    font-size: 25px;
    color: #fff;
    margin-left: 14px;
  }

  .numbersofbox8 {
    font-size: 42px;
    margin-left: 14px;
    margin-top: 6px;
    color: #fff;
  }

  .boxV {
    width: 100%;
  }

  .box9 {
    width: 100%;
    margin: 0;
  }

  .box9_1_1 {
    float: left;
    width: 32%;
    margin: 1% 34% 0 34%;
  }

  .box10 {
    width: 100%;
    margin: 20px 0;
  }

  .boxVI {
    width: 100%;
  }

  .box11 {
    width: 100%;
  }

  #donut_single {
    margin: 10% 3% 10% 71%;
  }

  .box12 {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .box13 {
    width: 80%;
    margin: 20px 10%;
  }

  .footer {
    width: 100%;
  }
}

/*-------------------------------------------------------------
                      MEDIA QUERY FOR MOBILE
---------------------------------------------------------------*/
@media screen and (max-width: 576px) {
  .basecontainer {
    width: 100%;
  }

  .menuBar {
    width: 100%;
  }

  .menuBarPart1 {
    width: 100%;
    padding: 10px 0;
  }

  .backendLogo {
    margin: 0 38% 0 3%;
  }

  .menuBarPart2 {
    width: 90%;
    margin: right;
    padding: 10px 0;
  }

  .menuIcon {
    display: block;
  }

  .sidePanel {
    width: 100%;
    display: none;
  }

  .sidePanelElements {
    width: 100%;
  }

  .dashboardPanel {
    width: 100%;
  }

  .dashboardPanelTop {
    width: 99.1%;
  }

  .dashboardIcons > span {
    font-size: 13px;
  }

  .dashboardPanelBottom {
    width: 93%;
    padding: 20px;
  }

  .boxI {
    width: 100%;
  }

  .box1 {
    width: 100%;
  }

  .box1_2 {
    width: 93%;
    padding: 20px;
  }

  .box1_2_0 {
    width: 100%;
  }

  .box1_2_0_1 {
    width: 41%;
  }

  .box1_2_1 {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .box2 {
    width: 100%;
    margin: 20px 0;
  }

  .boxII {
    width: 100%;
  }

  .box3 {
    width: 100%;
  }

  .box3_2_1 {
    float: left;
    width: 50%;
    margin: 0 19% 0 31%;
  }

  .box4 {
    width: 76%;
    margin: 20px 12%;
  }

  .flower {
    height: 300px;
  }

  .box5 {
    width: 100%;
    margin: 0px;
  }

  .box5_1_0image {
    bottom: 151px;
    width: 38%;
    margin: 0px 141px;
  }

  .box5_1_0_0 {
    width: 80%;
    float: left;
    position: absolute;
    bottom: 72px;
    margin-left: 10%;
  }

  .box5_1_0_0 > span {
    font-size: 120px;
    margin-left: 2px;
  }

  .closeapostrophe {
    margin-top: 30px;
  }

  .boxIII {
    width: 100%;
  }

  .box6 {
    width: 100%;
    margin: 0;
  }

  .box7 {
    width: 100%;
    margin: 20px 0;
  }

  .boxIV {
    width: 100%;
  }

  .box8 {
    width: 100%;
    height: auto;
  }

  .box8 > div {
    width: 96%;
    margin: 10px;
  }

  .wordsofbox8 {
    font-size: 25px;
    color: #fff;
    margin-left: 14px;
  }

  .numbersofbox8 {
    font-size: 42px;
    margin-left: 14px;
    margin-top: 6px;
    color: #fff;
  }

  .boxV {
    width: 100%;
  }

  .box9 {
    width: 100%;
    margin: 0;
  }

  .box9_1_1 {
    float: left;
    width: 35%;
    margin: 1% 32.5% 0 32.5%;
  }

  .box10 {
    width: 100%;
    margin: 20px 0;
  }

  .boxVI {
    width: 100%;
  }

  .box11 {
    width: 100%;
  }

  #donut_single {
    margin: 10% 3% 10% 40%;
  }

  .box12 {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .box13 {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .footer {
    width: 100%;
  }
}
